﻿
.hidden{display:none;}
.show{display:block;}

.clearer{clear:both;visibility:hidden;}

.leftfloat{float:left;}
.rightfloat{float: right;}

.left{text-align:left;}
.right{text-align:right;}
.center{text-align:center;}

span.accesskey{text-decoration:underline;}

h1{font-size: 160%;margin-top:0;}
h2{font-size: 150%;margin-top:0;}
h3{font-size: 140%;margin-top:0;}
h4{font-size: 130%;margin-top:0;}
h5{font-size: 120%;margin-top:0;}
h6{font-size: 110%;margin-top:0;}

#sidebar #support
{
    background: #eee;
    border: 1px solid #aaa;
    margin: 55px 3px 3px 3px;
    padding: 6px;
    text-align: justify;    
}

#sidebar #ctl00_support
{
    background: #eee;
    border: 1px solid #aaa;
    margin: 15px 3px 3px 3px;
    padding: 6px;
    text-align: justify;    
}

/* ******************* CONTENT ********************* */
/* IE6 workaround */

#content .inner
{
    padding: 10px 0;
    text-align: justify;
    width: 580px;
}

/* ********************* TABS ****************************  */
.contenttabs
{
    float: right;
    height: 34px;
    margin: 0;
    padding: 0;
}

.contenttabs li
{
    display: inline;
    float: left;
    height: 34px;
    /*list-style: none;*/
    margin: 0 0 0 1px;
    text-align: center;
    width: 139px;
}

.contenttabs li a
{
    background: url('images/defaults/tabs.gif') no-repeat 0 -34px;
    color: #ba7a20;
    display: block;
    font-weight: bold;
    line-height: 34px;
    text-decoration: none;
    width: 139px;
}

.contenttabs li a:hover
{
    background: url('images/defaults/tabs.gif') no-repeat 0 0;
    color: #fff;
    display: block;
}

.contenttabs li a.active
{
    background: url('images/defaults/tabs.gif') no-repeat 0 0;
    color: #fff;
    display: block;
    line-height: 34px;
}

/* ********************* TABLE ****************************  */

table
{
    border-collapse: collapse;
    font-size: 100%;
    width: 100%;
}

td,th{border: 1px solid #aaa;padding:5px;}/*d7d7bb*/
th{background: url('images/defaults/dark2.gif') repeat-x 0 0; text-align:center;}
td{background: #c7c7c7 url('images/defaults/light3.gif') repeat-x 0px top; font-size:90%;} /*#eeeecd*/
tr.second td{background: url('images/defaults/dark2.gif') repeat-x 0 0;}
tr td.second{background: url('images/defaults/dark2.gif') repeat-x 0 0;}

td a.block{display:block;}
td a.block:hover{background:#eeeecd;}

.action {width: 20px;}

.action a
{
    float: left;
    height: 16px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-indent: -1000px;
    width: 16px;
}

.action a.delete{background: url('images/defaults/delete.gif') no-repeat 0 0;}
.action a.edit{background: url('images/defaults/edit.gif') no-repeat 0 0;}
.action a.view{background: url('images/defaults/view.gif') no-repeat 0 0;}
.action a.add{background: url('images/defaults/add.gif') no-repeat 0 0;} /*BRANDY'S CHANGE - REMOVE LATER*/

.action a.delete:hover{background: url('images/defaults/delete.gif') no-repeat 0 -16px;}
.action a.edit:hover{background: url('images/defaults/edit.gif') no-repeat 0 -16px;}
.action a.view:hover{background: url('images/defaults/view.gif') no-repeat 0 -16px;}
.action a.add:hover{background: url('images/defaults/add.gif') no-repeat 0 -16px;} /*BRANDY'S CHANGE - REMOVE LATER*/

/* ********************* FORMS ****************************  */
fieldset{border:0;margin:0;padding:0;}
fieldset.leftfield{float:left;width:45%;margin:0;padding:0;}
fieldset.rightfield{float:right;width:45%;margin:0;padding:0;}

label{background: #eee; border: 1px solid #ddd; display:block; margin-bottom: 5px;margin-top:0; padding: 2px;}

table.noformat tr {display:inline;}

table.noformat td{background: none; border: none;}

table.noformat td label
{
    background: none;
    border: none;
    display: inline;
}

/* ********************* CALENDAR ************************* */
table.calendar{border:1px solid #d7d7bb; }

table.calendar table.calendar{border:0;}

table.calendar a{display:block;text-decoration:none;}

table td.mycalendarselector a
{
    background: url('images/defaults/sidearrowsmall.gif') no-repeat 0 0;
    float: right;
    height: 16px;
    overflow: hidden;
    text-indent: -1000px;
    width: 16px;
}

.today{background: #ffdddd;}
.selectedday{background: #ddddff;}
.selectedday a{color:#000;}

/* ************************* ERROR MESSAGE ********************** */
.errormessage,.notification
{
    
    border: 1px solid #aaa;
	color: #ff0000;
	background-color: #eee;
	font-size: 90%;	
	padding: 10px;
}

/* ************************* ERROR MESSAGE ********************** */
a.access{color:#008800;}
a.noaccess{color:#880000;}