﻿/* ******************* BREADCRUMB ********************* */

#breadcrumb a{color:#202020;}
#breadcrumb a:hover{color:#f0f0f0;}

/* ******************* SIDEBAR ********************* */
/* IE workaround */
#sidebar .inner
{
   font-size: 85%;
   margin-top: 110px;
   width : 130px;
}

#sidebar ul
{
    margin: 0;
    margin-bottom: 15px;
    padding: 3px;
    list-style-type: none;
}

#sidebar ul a
{
    color: #000fff;
    display: block;
    padding: 2px 0 2px 10px;
    text-decoration: none;
}

#sidebar ul a:hover
{
    background: #eee;
    border: 1px solid #aaa;
    padding: 1px 0 1px 9px;
}

#sidebar ul a.MainMenuCMSListMenuLinkHighlighted {
	color: #000;
	font-weight: bold;
}

#sidebar ul a:active
{
    background: #e19247;
    border: 1px solid #cd7e32;
    padding: 1px 0 1px 9px;
}


#sidebar ul li
{
    background: url('images/intranetsp2/dot.gif') no-repeat 3px 8px;
    /*list-style: none; */   
}

#sidebar ul li.header{background: none;}

#sidebar ul li h2
{
    font-size: 100%;
    margin: 0;
}

#sidebar .LevelTwoMenuCMSListMenuUL{margin-bottom: 0;}

#sidebar .LevelTwoMenuCMSListMenuUL li{
    background: url('/images/intranetsp2/dot.gif') no-repeat 8px 8px;
	/*list-style: none;*/
}

#sidebar .LevelTwoMenuCMSListMenuUL li a{color: #000aaa;padding-left: 15px;}

#sidebar .LevelTwoMenuCMSListMenuUL li a:hover{padding-left: 14px;}

#sidebar ul a.LevelTwoMenuCMSListMenuLinkHighlighted{
	color: #000;
	font-weight: bold;
}

#sidebar #support
{
    background: #eee;
    border: 1px solid #aaa;
    margin: 55px 3px 3px 3px;
    padding: 6px;
    text-align: justify;    
}

/* ******************* CONTENT ********************* */
/* IE workaround */


#content .inner
{
    padding: 10px 0;
    text-align: left;
    width: 580px;
}

#content h1
{
    margin: 0;
}


#content #columnleft {
    width: 47%;
    float: left;
}

#content #columnright {
    width: 47%;
    float: right;
}