﻿body
{
	color:#000
}

h3.pageTitle
{
	color:#003399
}

td
{
	font: 88% verdana,arial,geneva,helvetica,sans-serif;
}

th
{
	font: bold 88% verdana,arial,geneva,helvetica,sans-serif;
	color:#003399
}

td.large
{
	background: #eee url('images/defaults/light4.gif') repeat-x 0px top;
}

td.solid
{
	background: none; 
	background-color: #eee;
	text-align:left;
}

select,input,textarea
{
    font: 88% verdana,arial,geneva,helvetica,sans-serif;
}

div.title
{
	padding: 3px 0px 3px 5px;
	vertical-align:text-bottom;
	font: bold 88% verdana,arial;
	border: 1px solid #aaa;
	background: url('images/defaults/dark2.gif') repeat-x 0 0; 
	color:#003399
}

div.section
{
	padding: 10px;
	font: 88% verdana,arial,geneva,helvetica,sans-serif;
	border: 1px solid #aaa;
	border-top:none;
	background-color: #eee;
}

div.indent
{
	padding-left:35px;
	padding-bottom:10px;
	text-align:left;
}

a.smallText
{
	font: 110% verdana,arial,geneva,helvetica,sans-serif;
}

span
{
	font-weight: normal;
}