﻿body {
}

td
{
	font: 85% Times New Roman;
}

div.title{
	padding: 0px 0px 3px 0px;
	vertical-align:text-bottom;
	font: bold 85% Times New Roman;
}

div.section
{
	padding: 5px;
	font: 85% Times New Roman;
}

div.indent
{
	padding-left:35px;
	padding-bottom:5px;
}

.clearer
{
	clear:both;
	visibility:hidden;
}

a
{
	font-size: 120%;
}